<div class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title"><b>About Us</b></h2>
  </div>
  <div class="panel-body">
    Pinteresting is the first app created by @TommyCougs!
    <p>
	New Features Coming Soon
	</p>
  </div>
