<div class="jumbotron center">
     <h1>Welcome!</h1>
     <% if user_signed_in? %>
         <h4> Welcome to Our Members Area. </h4>
          <p> <h4><i> Please Visit our Pins section to create pins. Just add /pins to the url to go to the pin section.  The link is currently broken. </i> </h4></p>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>

